VESSEL_MASK_DEVICE=auto
VESSEL_MASK_CHECKPOINTS_DIR=checkpoints
VESSEL_MASK_REPO_DIR=third_party/TopCoW_2024_MRA_winning_solution
VESSEL_MASK_YOLO_PATH=checkpoints/yolo-cow-detection.pt
VESSEL_MASK_SEGMODEL_DIR=checkpoints/topcow-claim-models
TOPCOW_IMG_FOLDER=test_data
TOPCOW_SEGMENTATION_FOLDER=outputs_segmentations
